*
!source/*
!assets/*
!assets/*/*
!source
!assets
!dependencies
!external
!external/*
!.clang-format
!.dropbox_uploader.enc
!.gitignore
!.travis.yml
!deploy.sh
!report.sh
!changelog.sh
!Makefile
!wscript
!LICENSE
!README.md
!Gaem.sublime-project
