*
!source
!source/*
!source/*/*
!assets
!assets/*
!assets/*/*
!external
!external/*
!.clang-format
!.dropbox_uploader.enc
!.gitignore
!.travis.yml
!deploy.sh
!report.sh
!changelog.sh
!wscript
!LICENSE
!README.md
!Gaem.sublime-project
