[submodule "external/tinydir"]
	path = external/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "external/BearLibTerminal"]
	path = external/BearLibTerminal
	url = https://github.com/nabijaczleweli/BearLibTerminal.git
	branch = not-forced-shared
